%h1 Listing pisos

%table.piso_listing
  %tr
    %th Name / URL
    %th
      Price
      %ul
        %li Rent
        %li Bond
        %li Broker
    %th
      &num; of bedrooms
    %th
      Sqm
      %ul
        %li flat
        %li living room
        %li largest bedroom
    %th Balcony
    %th Level
    %th Bathrooms
    %th Quality
    %th
      Distance to
      %ul
        %li metro
        %li work
        %li beach
        %li park
    %th Pictures
    %th Facilities
    %th Extras
    %th Contact / Comments
    %th Status
    %th
    %th
    %th

  - @pisos.each do |piso|
    %tr

      %td
        %p= piso.name
        %p= link_to piso.area, piso.maps, target: :blank
        %p
          Found on:
          = piso.found
        %p= link_to piso.url, piso.url, target: :blank
        %p= "Noticed: #{piso.noticed_at}"
        %p= "Visited: #{piso.visited_at}" if piso.visited

      %td.euro
        %p= piso.price
        %p= piso.bond
        %p= piso.broker_fee

      %td.num
        = piso.number_of_bedrooms

      %td.sqm
        %p= piso.square_meter
        %p= piso.size_of_living_room
        %p= piso.size_of_largest_bedroom

      %td.num
        %p= "#{piso.size_of_balcony} m²";
        %p= piso.balcony_to_patio ? "to patio" : "&nbsp;".html_safe

      %td.num
        %p= piso.floor
        %p= piso.elevator ? "elevator" : "stairs"

      %td.num
        %p= piso.number_of_bathrooms
        %p= piso.bathtub ? "bathtub" : "shower"

      %td
        %p= "Quiet area" if piso.quiet
        %p= "Bedroom to patio" if piso.bedroom_to_patio
        %p= "Sunny piso" if piso.sunny
        %p= "#{piso.type_of_kitchen} kitchen"
        %p= "#{piso.type_of_street} street"

      %td.minutes
        %p= piso.distance_to_metro
        %p= piso.distance_to_work
        %p= piso.distance_to_beach
        %p= piso.distance_to_park

      %td
        %p= image_tag piso.picture_one, class: :thumb
        %p= image_tag piso.picture_two, class: :thumb

      %td
        %p= piso.furnished ? "Furnished" : "Unfurnished"
        %p= "Equipped kitchen" if piso.equipped_kitchen
        %p= "Dishwasher" if piso.dishwasher
        %p= "Washing machine" if piso.washing_machine
        %p= "Has closets" if piso.closets
        %p= "Heating" if piso.heating
        %p= "AC" if piso.air_conditioning

      %td
        %p= "Suited to share" if piso.suited_to_share
        %p= "Pet friendly" if piso.pet_friendly
        %p= "Double glazing" if piso.double_glazing
        %p= "Wooden floor" if piso.wooden_floor
        %p= "Space for bike" if piso.space_for_bike

      %td
        %p= piso.contact
        %p= piso.fon
        %p= piso.comments

      %td= piso.status

      %td
        %p= link_to 'Show', piso
        %p= link_to 'Edit', edit_piso_path(piso)
        %p= link_to 'Destroy', piso, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Piso', new_piso_path
