%p#notice= notice

%p
  %b Name:
  = @piso.name
%p
  %b Found:
  = @piso.found
%p
  %b Url:
  = @piso.url
%p
  %b Price:
  = @piso.price
%p
  %b Bond:
  = @piso.bond
%p
  %b Broker fee:
  = @piso.broker_fee
%p
  %b Square meter:
  = @piso.square_meter
%p
  %b Number of bedrooms:
  = @piso.number_of_bedrooms
%p
  %b Size of living room:
  = @piso.size_of_living_room
%p
  %b Size of largest bedroom:
  = @piso.size_of_largest_bedroom
%p
  %b Type of kitchen:
  = @piso.type_of_kitchen
%p
  %b Size of balcony:
  = @piso.size_of_balcony
%p
  %b Balcony to patio:
  = @piso.balcony_to_patio
%p
  %b Bedroom to patio:
  = @piso.bedroom_to_patio
%p
  %b Floor:
  = @piso.floor
%p
  %b Elevator:
  = @piso.elevator
%p
  %b Type of street:
  = @piso.type_of_street
%p
  %b Number of bathrooms:
  = @piso.number_of_bathrooms
%p
  %b Bathtub:
  = @piso.bathtub
%p
  %b Suited to share:
  = @piso.suited_to_share
%p
  %b Distance to metro:
  = @piso.distance_to_metro
%p
  %b Picture one:
  = @piso.picture_one
%p
  %b Picture two:
  = @piso.picture_two
%p
  %b Maps:
  = @piso.maps
%p
  %b Space for bike:
  = @piso.space_for_bike
%p
  %b Sunny:
  = @piso.sunny
%p
  %b Quiet:
  = @piso.quiet
%p
  %b Closets:
  = @piso.closets
%p
  %b Washing machine:
  = @piso.washing_machine
%p
  %b Dishwasher:
  = @piso.dishwasher
%p
  %b Equipped kitchen:
  = @piso.equipped_kitchen
%p
  %b Furnished:
  = @piso.furnished
%p
  %b Comments:
  = @piso.comments
%p
  %b Status:
  = @piso.status
%p
  %b Fon:
  = @piso.fon
%p
  %b Contact:
  = @piso.contact
%p
  %b First noticed:
  = @piso.noticed_at
%p
  %b Visited:
  = @piso.visited_at if @piso.visited
%p
  %b Heating:
  = @piso.heating
%p
  %b Air conditioning:
  = @piso.air_conditioning
%p
  %b Wooden floor:
  = @piso.wooden_floor
%p
  %b Double glazing:
  = @piso.double_glazing
%p
  %b Area:
  = @piso.area
%p
  %b Distance to work:
  = @piso.distance_to_work
%p
  %b Distance to beach:
  = @piso.distance_to_beach
%p
  %b Distance to park:
  = @piso.distance_to_park
%p
  %b Pet friendly:
  = @piso.pet_friendly

= link_to 'Edit', edit_piso_path(@piso)
\|
= link_to 'Back', pisos_path
